* {font-family:Segoe UI, Sans-Serif;}
body {
	margin:0;
	padding:0;
	overflow-x:hidden;
	color:#444444;
	background-color:#eaeaea;
}
/* CAS GENERAUX */
table {background-color:#fff;}
th, td {padding:2px 10px 2px 15px;}
select {width:160px; height:26px; font-size:14px; padding:5px 10px 5px 10px;}
input, select {
	width:300px;
	height:40px;
	padding:10px;
	margin-bottom:15px;
	background-color:#f8f8f8;
	border:none;
	border-bottom:2px solid #e5e5e5;
	border-radius:4px;
	font-size:16px;
	color:#656565;
	outline-color:#888;
}
input[type="submit"] {
	width:auto;
	height:40px;
	padding:10px;
	margin-top:10px;
	margin-left:-1px;
	background-color:#e5e5e5;
	border:none;
	border-bottom:2px solid #d5d5d5;
	border-radius:4px;
	-webkit-transition:all .25s ease-in;
	-moz-transition:all .25s ease-in;
	-o-transition:all .25s ease-in;
	transition:all .25s ease-in;
	cursor:pointer;
}
input[type="submit"]:hover {
	background-color:#f0f0f0;
	color:#757575;
}
input[type=checkbox]#slideBox {
	visibility:hidden;
}
input[type="range"] {
	position:relative;
	margin-left:1em;
}
input[type="range"]:after,
input[type="range"]:before {
	position:absolute;
	top:1em;
	color:#aaa;
}
input[type="range"]:before {
	left:0em;
	content:attr(min);
}
input[type="range"]:after {
	right:0em;
	content:attr(max);
}
button {
	outline:none;
}
a {
	color:#76afd4;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
h3 {
	font-weight:lighter;
	font-size:18pt;
	color:#5b7586;
	-webkit-margin-before:0em;
	-moz-margin-before:0em;
	margin-before:0em;
}
tr {
	height:30px;
}
.color_credit {color:#11c71e;}
.color_debit {color:#ce2020;}
.button_link {
	width:auto;
	padding:10px;
	background-color:#e5e5e5;
	border:none;
	border-bottom:2px solid #d5d5d5;
	margin-bottom:10px;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
	border-radius:4px;
	font-size:16px;
}
	.button_link a {
		height:36px;
		color:#656565;
		text-decoration:none;
		-webkit-transition: all .2s ease-in;
		-moz-transition: all .2s ease-in;
		-o-transition: all .2s ease-in;
		transition: all .2s ease-in;
	}
.button_link:hover {
	background-color:#f0f0f0;
}
	.button_link:hover a {
		color:#959595;
	}
.button_mounth {
	padding:0;
	background-color:#e5e5e5;
	border:none;
	border-bottom:2px solid #d5d5d5;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
	border-radius:4px;
	font-size:16px;
}
.fa {
	margin-right:10px;
}

.list {
	width:100%;
	list-style:none;
	margin:0;
	padding:0;
}
	.list li {
		height:30px;
	}

/******* CAS SPECIFIQUES *******/
.navbar {width:100%; height:46px; background-color:#fff; top:0; position:fixed; z-index:1000;}
.navbar ul:first-child {margin-top:0px; padding-left:0;}
.navbar li {
	width:auto;
	height:46px;
	list-style:none;
	display:inline-block;
	-webkit-transition:all .07s ease-in;
	-moz-transition:all .07s ease-in;
	-o-transition:all .07s ease-in;
	transition:all .07s ease-in;
	cursor:pointer;
}
.navbar li.logo {width:250px; margin:0 -4px 0 0; background-color:#232b2e;}
.navbar li.logo a {color:#fff; display:inline-block;}
.navbar li.logo:hover {background-color:#161b1d;}
.navbar li#user {position:absolute; right:0px; min-width:191px;}
.navbar li:hover {background-color:#75919C;}
.navbar li.extend {top:-8px; position: relative;}
.navbar li a {height:46px; width:100%; line-height:46px; color:#676767; text-decoration:none; text-align:left; padding:0 13px 0 13px;}
.navbar li a:hover {color:#fff;}
.navbar li#active {background-color:#70bc99;}
/* tous les icone dans le menu */
.navbar li a span.imgMenu {width:26px; height:46px; position:relative; display:inline-block; vertical-align:middle; border:none; margin-right:8px;}
.navbar li a span.imgMenu img {width:26px; height:26px; position:absolute; top:9px; left:0;}
/* image de fleche ves le bas */
.navbar li a span.imgMenuPlus {width:11px; height:8px; bottom:8px; position:relative; display:inline-block; vertical-align:middle; border:none; margin-left:8px;}
.navbar li a span.imgMenuPlus img {width:11px; height:8px; position:absolute; top:7px; left:0;}
/* avatar dans le menu */
.navbar li a span#avatarMenu {width:46px; height:46px; bottom:1px; position:relative; display:inline-block; vertical-align:middle; border:none; margin:0 8px 0 -13px;}
.navbar li a span#avatarMenu img {width:42px; height:42px; position:absolute; left:2px; top:2px; border-radius:24px;}
/* sous menu */
.navbar li ul {display:none; width:105px; background-color:#9dbfcc; border-radius:0px 0px 3px 3px; border-bottom:2px solid #4ea770; position:absolute;}
.navbar li#user ul {margin-left:46px; margin-top:-1px;}
.navbar li:hover ul {
	display:block;
	-webkit-transition:all .07s ease-in;
	-moz-transition:all .07s ease-in;
	-o-transition:all .07s ease-in;
	transition:all .07s ease-in;
}
.navbar li ul li, .navbar li ul li:first-child {width:145px; margin:0 0 0 -40px; padding:0; height:30px; line-height:30px;}
.navbar li ul li a {height:30px; line-height:30px; width:100%; display:inline-block; text-align:left; font-size:15px;}
.navbar li:hover ul li:hover {background-color:#5D9C7F;}
.navbar button {background:none; border:none; top:9px; left:4px; position: relative; cursor:pointer;}
.navbar i {color:#676767; font-size:1.6em;}

#mois {margin:0; padding:0; list-style:none; width:115px; height:28px; display:block; /*background-image:url('images/spinner.png');*/}
#mois li {line-height:28px; list-style:inside none; padding:0; float:left; display:block; position:relative;}
#mois li:hover {display:block; cursor:pointer;}
#mois li #current_mounth {color:#909090; text-decoration:none; display:block; position:relative; height:28px; width:115px; padding:5px 12px; text-align:left;}
#mois li #current_mounth:hover {color:#5fc9f0;}
#mois li .imgMenuPlus {
	position:relative;
	float:right;
	top:10px;
	right:24px;
	-webkit-transition:-webkit-transform 0.2s ease-in-out;
	-moz-transition:-moz-transform 0.2s ease-in-out;
	transition:transform 0.2s ease-in-out;
}
#mois li > ul {display:none; width:75px; position:absolute; background-color:#f9f9f9; text-align:left; margin-top:-1px; border-radius:0px 0px 3px 3px; border-bottom:2px solid #d8d8d8;}
#mois li:hover > ul {/*display:block;*/}
#mois li > ul li {height:28px; width:97px; line-height:28px; font-size:18px; margin-left:-40px; padding:0;}
#mois li > ul li a {color:#909090; display:block; font-size:15px; width:100%; padding:0 8px 0 10px;}
#mois li:hover > ul li a:hover {color:#ffffff; background-color:#a0a0a0}

#barLeft {
	width:250px;
	top:0;
	left:0;
	bottom:0;
	position:fixed;
	background-color:#3E4547;
	z-index:3;
	-webkit-transition:all .1s ease-in;
	-moz-transition:all .1s ease-in;
	-o-transition:all .1s ease-in;
	transition:all .1s ease-in;
}
	#barLeft-content {
		width:200px;
		margin-top:50px;
	}
		#barLeft-content form {
			margin:60px 0 0 10px;
		}
			#barLeft-content input[type="text"] {
				height:26px;
				width:181px;
			}
#content {
	margin:25px 0 0 250px;
	padding:45px 15px 0 15px;
}
	#message {
		width:400px;
		min-height:40px;
		padding:15px;
		margin-bottom:30px;
	}
		.bad {
			background-color:#dfdfdf;
			color:#333333;
		}
		.good {
			background-color:#1ebaed;
			color:#ffffff;
		}
	.conteneur_options span.info {
		color:#37a3e8;
	}
	.tList {
		/*min-width:850px;*/
		margin:15px 0 15px 0;
		width:100%;
	}
		.tList tr.tHeader {
			font-size:18px;
			background-color:#a8adb3;
			height:34px;
			color:#ffffff;
		}
		.tList tr:hover {
			background-color:#e6e6e6;
			color:#888888;
		}
		.tList tr.impair {
			background-color:#f5f5f5;
		}
		.tList tr.impair:hover {
			background-color:#e6e6e6;
		}
			/* bouton ajouter com */
			.tList tr .newcom {
				width:16px;
				height:16px;
				background-image:url('images/add_com.png');
				opacity:0.3;
				filter:alpha(opacity=30);
				-moz-opacity:0.3;
			}
				.tList tr .newcom a {
					width:16px;
					height:16px;
				}
			.tList tr:hover .newcom {
				width:16px;
				height:16px;
				opacity:1.0;
				filter:alpha(opacity=100);
				-moz-opacity:1.0;
			}
			/* bouton editer */
			.tList tr .edit {
				width:16px;
				height:16px;
				background-image:url('images/edit.png');
				opacity:0.3;
				filter:alpha(opacity=30);
				-moz-opacity:0.3;
			}
				.tList tr .edit a {
					width:16px;
					height:16px;
				}
			.tList tr:hover .edit {
				width:16px;
				height:16px;
				opacity:1.0;
				filter:alpha(opacity=100);
				-moz-opacity:1.0;
			}
			/* bouton suppression */
			.tList tr .del {
				width:16px;
				height:16px;
				background-image:url('images/del.png');
				opacity:0.3;
				filter:alpha(opacity=30);
				-moz-opacity:0.3;
			}
				.tList tr .del a {
					width:16px;
					height:16px;
				}
			.tList tr:hover .del {
				width:16px;
				height:16px;
				opacity:1.0;
				filter:alpha(opacity=100);
				-moz-opacity:1.0;
			}
			.del_link {
				cursor:pointer;
			}
			/* popup de confirmation */
			#wrapper_overLayer {
				position:fixed;
				top:0;
				left:0;
				right:0;
				bottom:0;
				z-index:2000;
				background-color:rgba(0, 0, 0, 0.5);
				display:none;
			}
				#overLayer {
					width:500px;
					min-height:200px;
					border-radius:4px;
					border-bottom:2px solid #b5b5b5;
					background-color:#ffffff;
					position:fixed;
					z-index:2001;
					left:50%;
					margin-left:-250px;
					top:50%;
					margin-top:-100px;
				}
					#contentOverLayer {
						width:460px;
						margin:20px;
						font-size:19px;
					}
						#op_name, #dump_name, #account_name {
							color:#2e84bb;
						}
						form#del_form {
							margin:20px 0 0 120px;
						}
							input#btn_confirm {
								width:100px;
								background-color:#e5e5e5;
								border-bottom:2px solid #d5d5d5;
								margin-right:20px;
							}
							input#btn_confirm:hover {
								background-color:#60bffb;
								border-bottom:2px solid #2e84bb;
								color:#184867;
							}
							input#btn_cancel {
								width:100px;
								background-color:#e5e5e5;
								border-bottom:2px solid #d5d5d5;
								-webkit-transition:all .25s ease-in;
								-moz-transition:all .25s ease-in;
								-o-transition:all .25s ease-in;
								transition:all .25s ease-in;
								cursor:pointer;
							}
							input#btn_cancel:hover {
								background-color:#fb5e5e;
								border-bottom:2px solid #c04c4c;
								color:#5f2525;
							}
	#contentSearchBox {
		position:relative;
		height:2.85em;
		z-index:2;
	}
	#contentSearchBox .SearchBox, #contentSearchBox .ShowAdvancedSearch {
		display:inline-block;
	}
	.SearchBox {
		position:absolute;
		left:5px;
		top:10px;
	}
	#c_search_psb_f {
		height:2em;
	}
	.c_search_mc {
		border:#bababa 1px solid;
		background-color:#fff;
		white-space:nowrap;
		position:relative;
		height:20px;
		padding-right:35px;
		background-position:right center;
		background-repeat:no-repeat;
		border-radius:3px;
		border-bottom:2px solid #a5a5a5;
	}
	div.c_search_status, .c_search_mc label {
		display:none;
	}
	#c_search_psb_box {
		margin-top:2px;
		font-size:100%;
	}
	.RE_WebKit .c_search_mc input.c_search_box, .IE_M7 .c_search_mc input.c_search_box {
		line-height:1.6em;
	}
	.c_search_mc input.c_search_box {
		margin-top:0;
		margin-bottom:2px;
		margin-right:0;
		margin-left:2px;
		padding-left:5px;
		padding-right:auto;
		border:0 none;
		color:#666;
		height:1.3em;
		line-height:1.2em;
		background:transparent;
		width:100%;
		outline:none;
	}
	/* input submit loupe */
	element.style {
		background:url(https://a.gfx.ms/h/command2.png) 38px 0px;
	}
	.c_search_mc input.c_search_go, .c_search_mc img.c_search_go {
		border:0 none;
		width:16px;
		height:16px;
		background:#fff no-repeat left top;
		overflow:hidden;
		cursor:pointer;
		position:absolute;
		right:9px;
		padding:0;
		min-width:0;
	}

	/* module add_op */
	/* SLIDE CHECKBOX CREDIT/DEBIT */
	.slideBox {
		width:67px;
		height:26px;
		background:#34495e;
		margin:-48px 0 21px 225px;
		border-top:1px solid #b4b4b4;
		
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
		border-radius:12px;
		position:relative;

		-webkit-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
		-moz-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
		box-shadow:inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	}
	.slideBox:before {
		content:url("images/fleche_credit.png");
		font:12px/26px Arial, sans-serif;
		color:#00bf00;
		position:absolute;
		left:5px;
		z-index:0;
		font-weight:bold;
		top:7px;
	}
	.slideBox:after {
		content:url("images/fleche_debit.png");
		font:12px/26px Arial, sans-serif;
		color:#ff0000;
		position:absolute;
		right:5px;
		z-index:0;
		font-weight:bold;
		top:7px;
	}
	.slideBox label {
		display:block;
		width:22px;
		height:22px;

		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;

		-webkit-transition:all .4s ease;
		-moz-transition:all .4s ease;
		-o-transition:all .4s ease;
		-ms-transition:all .4s ease;
		transition:all .4s ease;
		cursor:pointer;
		position:absolute;
		top:2px;
		left:2px;
		z-index:1;

		background:#1abc9c;
	}
	.slideBox input[type=checkbox]:checked + label {
		left:43px;
	}
	/* CHECKBOX */
	.squared {
		width:300px;
		position:relative;
	}
	.squared label {
		cursor:pointer;
		position:absolute;
		width:20px;
		height:20px;
		top:0;
		border-radius:4px;
		background-color:#bdc3c7;
		border-bottom:2px solid #9ea2a4;
	}
	.squared label:after {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter:alpha(opacity=0);
		opacity:0;
		content:'';
		position:absolute;
		width:9px;
		height:5px;
		background:transparent;
		top:4px;
		left:4px;
		border:3px solid #333;
		border-top:none;
		border-right:none;

		-webkit-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		transform:rotate(-45deg);
	}
	.squared label:hover::after {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
		filter:alpha(opacity=30);
		opacity:0.5;
	}
	.squared input {
		width:20px;
		height:20px;
		padding:0px;
		margin:0px;
		display:none;
	}
	.squared input[type=checkbox]:checked + label:after {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter:alpha(opacity=100);
		opacity:1;
	}

	#virement {
		display:none;
		width:300px;
		height:34px;
	}
		#virement select {
			width:137px;
		}

	/* notice du moteur de recherche */
	#notice {
		width:198px;
		margin:10px 0 0 15px;
		padding:10px;
		background-color:#f9b4ba;
		border:1px solid #c78288;
		opacity:0.3;
		filter:alpha(opacity=30);
		-moz-opacity:0.3;
		border-radius:3px;
		border-bottom:2px solid #ac6f75;
		display:none;
	}
		#notice #button {
			cursor:pointer;
		}
			#notice #button #button_plus {
				background-image:url('images/plus.png');
				background-repeat:no-repeat;
				margin-left:7px;
				height:8px;
				width:11px;
				-webkit-transition:-webkit-transform 0.2s ease-in-out;
				-moz-transition:-moz-transform 0.2s ease-in-out;
				transition:transform 0.2s ease-in-out;
			}
		#notice #list {
			display:none;
		}
			#notice #list ul {
				border-top:1px solid #de9ea3;
				margin-top:7px;
				padding-top:15px;
			}
				#notice #list span {
					color:#e02842;
				}
	/* module user */
	.tablet {
		width:830px;
		background-color:#f0f0f0;
		border-bottom:2px solid #b5b5b5;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-o-border-radius:4px;
		border-radius:4px;
		margin-bottom:15px;
	}
	.tablet_user {
		padding:10px;
	}
		.clip_task {
			position:relative;
			margin:-28px 0 0 -50px;
			left:50%;
		}
		#list_infos_user_container {
			width:360px;
			height:452px;
			float:left;
		}
			#list_infos_user {
				width:300px;
				list-style:none;
				line-height:40px;
			}
			#list_infos_user #login {background:url('images/ico_nom.png') left center no-repeat; margin-left:-35px; padding-left:30;}
			#list_infos_user #rights {background:url('images/ico_rights.png') left center no-repeat; margin-left:-35px; padding-left:30;}
			#list_infos_user #email {background:url('images/ico_email.png') left center no-repeat; margin-left:-35px; padding-left:30;}
			#list_infos_user #lang {background:url('images/ico_lang.png') left center no-repeat; margin-left:-35px; padding-left:30;}
		#tablet_user_avatar {
			width:450px;
			float:left;
		}
			#tablet_user_avatar_container {
				width:450px;
				background-color:#fff;
				border-bottom:2px solid #b5b5b5;
				-webkit-border-radius:4px;
				-moz-border-radius:4px;
				-o-border-radius:4px;
				border-radius:4px;
			}
				#tablet_user_avatar_container img {
					width:434px;
					padding:8px;
				}
	.panel {
		width:30%;
		min-width:290px;
		float:left;
		margin-right:15px;
	}
		.panel-header {
			width:100%;
			background-color:#f9f9f9;
			-webkit-border-radius:4px 4px 0 0;
			-moz-border-radius:4px 4px 0 0;
			-o-border-radius:4px 4px 0 0;
			border-radius:4px 4px 0 0;
			padding:12px 0;
			border-bottom:1px solid #efefef;
		}
			.panel-header span {
				color:#404040;
				margin:0 15px;
			}
			.panel-header a {
				text-decoration:none;
			}
		.panel-body {
			background-color:#fff;
		}
			.panel-body-content {
				padding:15px;
			}
			.panel-body .nb-op {
				background-color:#00aacc;
			}
				.panel-body-content h3 {
					margin-top:15px;
					text-align:center;
					color:#fff;
				}
			.panel-body table {
				width:100%;
				margin:0;
			}
				.panel-body tr:nth-child(odd){
					background-color:#fbfbfb;
				}
				.panel-body tr:hover {
					background-color:#e6e6e6;
					color:#888888;
				}
			.panel-body p {
				margin:15px;
			}
			.graphic-container {
				height:270px;
				padding:30px 0;
			}
				.graphic-legend {
					margin-top:0;
					list-style:none;
					padding:6px 0 0 20px;
					margin-bottom:6px;
				}
					.graphic-legend li {
						display:inline;
						margin-right:15px;
					}
					.graphic-legend-income, .graphic-legend-spending {
						padding:0 6px;
					}
					.graphic-legend-income {
						background-color:#00aacc;
					}
					.graphic-legend-spending {
						background-color:#ff5555;
					}
				.graphic-bar-container {
					height:100%;
					width:8.3333%;
					display:inline-block;
					opacity:0;
				}
					.graphic-bar-center {
						margin:0 auto;
						width:30px;
					}
						.graphic-bar-income, .graphic-bar-spending {
							width:15px;
							height:100%;
							display:inline-block;
						}
						.graphic-bar-income {
							background-color:#00aacc;
						}
						.graphic-bar-spending {
							background-color:#ff5555;
						}
						.graphic-bar-empty {
							background-color:#fff;
						}
	.graphic {
		width:60%;
		padding:0 8px 0 7px;
	}
		.graphic .panel-header {
			width:auto;
			margin-left:-7px;
			padding-right:15px;
		}
		.graphic .panel-body {
			margin:0 -8px 0 -7px;
		}

	/* galerie des avatars */
	.avatar_list {
		width:180px;
		margin:0 15px 15px 0;
		padding:8px;
		background-color:#f8f8f8;
		border-bottom:2px solid #e5e5e5;
		border-radius:4px;
		display:inline-block;
		cursor:pointer;
	}
		.avatar_list_layer {
			background:#000 url('images/change_ok.png');
		}
			.avatar_list img {
				width:180px;
				-webkit-transition:all .4s ease;
				-moz-transition:all .4s ease;
				-o-transition:all .4s ease;
				-ms-transition:all .4s ease;
				transition:all .4s ease;
			}
			.avatar_list:hover img {
				opacity:0.5;
			}

	/* Code message identique avec la partie logué */
	.msg_good {
		max-width:850px;
		background-color:#aaffac;
		border-radius:4px;
		border-bottom:2px solid #1e7c20;
		margin-bottom:15px;
	}
		.msg_good img {
			margin:10px;
			float:left;
			width:50px;
		}
		.msg_good img#close_msg {
			width:auto;
			float:right;
			-webkit-transition:all .25s ease-in;
			-moz-transition:all .25s ease-in;
			-o-transition:all .25s ease-in;
			transition:all .25s ease-in;
			opacity:0.3;
			filter:alpha(opacity=30);
			-moz-opacity:0.3;
			cursor:pointer;
		}
		.msg_good img#close_msg:hover {
			opacity:1.0;
			filter:alpha(opacity=100);
			-moz-opacity:1.0;
		}
		.msg_good span {
			margin:10px;
			position:absolute;
		}
	.msg_bad {
		max-width:850px;
		background-color:#ffadad;
		border-radius:4px;
		border-bottom:2px solid #9a3b3b;
		margin-bottom:15px;
	}
		.msg_bad img {
			margin:10px;
			float:left;
			width:50px;
		}
		.msg_bad img#close_msg {
			width:auto;
			float:right;
			-webkit-transition:all .25s ease-in;
			-moz-transition:all .25s ease-in;
			-o-transition:all .25s ease-in;
			transition:all .25s ease-in;
			filter:alpha(opacity=30);
			-webkit-opacity:0.3;
			-moz-opacity:0.3;
			-o-opacity:0.3;
			opacity:0.3;
			cursor:pointer;
		}
		.msg_bad img#close_msg:hover {
			filter:alpha(opacity=100);
			-webkit-opacity:1;
			-moz-opacity:1;
			-o-opacity:1;
			opacity:1;
		}
		.msg_bad span {
			margin:10px;
			position:absolute;
		}
	.clear {
		clear:both;
	}

	/* ================================================= */
	/* FOOTER */
	footer {
		width:250px;
		color:#a0a0a0;
		font-size:14px;
		margin:18px;
		text-shadow:0 1px #ffffff;
	}